body
    overflow: hidden
    background-color: #C6D8D3
    color: white
    font-family: sans-serif
.timer-value
    z-index: 99
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)
    font-size: 25px
    font-family: sans-serif

.game_infos 
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    position: absolute
    text-align: center
    font-family: sans-serif
    text-transform: uppercase
    h1
        font-size: 85px
    a
        color: black
        text-decoration: none
    img
        width: 250px
        position: absolute
        z-index: -1
.start-window
    position: absolute
    top: 50%
    left: 50%
    width: 250px
    height: 250px
    transform: translate(-50%, -50%)
    text-align: center
    text-transform: uppercase
    &.hidden
        display: none
    .text
        transform: translate(-50%, -50%)
        position: absolute
        top: 50%
        left: 50%
        h3
            padding: 10px
            color: white
        h4
            cursor: pointer
            padding: 10px
            animation: slidein 1s infinite
            background-color: white
            color: #C6D8D3
.game_help
    text-transform: uppercase
    color: black
    position: absolute
    left: 50%
    top: 5%
    transform: translateX(-50%)
    display: flex
.game_picto
    padding: 20px
    text-align: center
    font-size: 10px
    img
        width: 30px
        padding: 20px
        z-index: -1
    h2
        margin-top: 25px;

.username_input
    position: absolute
    bottom: 20%
    left: 50%
    transform: translateX(-50%)
    input
        background-color: white
        padding: 10px
        text-align: center
        color: #C6D8D3
        text-transform: uppercase
    input::placeholder
        color: #C6D8D3
@keyframes slidein 
  from 
    background-color: white
    color: #C6D8D3
  to 
    background-color: #C6D8D3
    color: white
.btn-play 
    position: absolute
    bottom: 15%
    left: 50%
    transform: translateX(-50%)
    color: black
    text-transform: uppercase
